<% provide(:title, "Log in") %>
<%= stylesheet_link_tag 'signup', media: 'all', 'data-turbolinks-track' => true %>

<h1>Iniciar sesión</h1>

<div class="row">
  <div class="col-form">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'email-control', id: 'email_form' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control', id: 'password_form' %>

      <%= f.submit "Iniciar sesión", class: "btn btn-primary", id: 'session_form'%>
    <% end %>

    <p>Usuario nuevo? <%= link_to "Regístrate!", signup_path %></p>
    <p><%= link_to "Olvidé mi contraseña", new_pass_reset_path %></p>
  </div>
</div>
<%= javascript_include_tag 'sessionform', 'data-turbolinks-track' => true %>
