<% provide(:title, 'Pregunta secreta') %>
<p id="notice"><%= notice %></p>
<h1>Contesta esta pregunta secreta</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:pass_reset) do |f| %>
      <strong>Pregunta: </strong>
      <%= User.find_by(id: params[:user]).question%>
      <br/>
      <%= f.label :tu_respuesta %>
      <%= f.text_field :answer, class: 'form-control' %>
      <%= f.submit "Submit", class: "btn btn-primary" %>
      <br/>
      <%= hidden_field_tag :email, User.find_by(id: params[:user]).email %>

      <br/>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <br/>
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

   
    <% end %>
  </div>
</div>