<%= form_for(@prom) do |f| %>
  <% if @prom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prom.errors.count, "error") %> prohibited this prom from being saved:</h2>

      <ul>
      <% @prom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :stock %><br>
    <%= f.number_field :stock %>
  </div>
  <div class="field">
    <%= f.label :prod_1 %><br>
    <%= f.number_field :prod_1 %>
  </div>
  <div class="field">
    <%= f.label :prod_2 %><br>
    <%= f.number_field :prod_2 %>
  </div>
  <div class="field">
    <%= f.label :prod_3 %><br>
    <%= f.number_field :prod_3 %>
  </div>
  <div class="field">
    <%= f.label :prod_4 %><br>
    <%= f.number_field :prod_4 %>
  </div>
  <div class="field">
    <%= f.label :cant_1 %><br>
    <%= f.number_field :cant_1 %>
  </div>
  <div class="field">
    <%= f.label :cant_2 %><br>
    <%= f.number_field :cant_2 %>
  </div>
  <div class="field">
    <%= f.label :cant_3 %><br>
    <%= f.number_field :cant_3 %>
  </div>
  <div class="field">
    <%= f.label :cant_4 %><br>
    <%= f.number_field :cant_4 %>
  </div>
  <div class="field">
    <%= f.label :date_start %><br>
    <%= f.date_select :date_start %>
  </div>
  <div class="field">
    <%= f.label :date_end %><br>
    <%= f.date_select :date_end %>
  </div>
  <div class="field">
    <%= f.label :valido %><br>
    <%= f.number_field :valido %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :string_otro %><br>
    <%= f.text_field :string_otro %>
  </div>
  <div class="field">
    <%= f.label :int_otro %><br>
    <%= f.number_field :int_otro %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
