<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @prom.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @prom.price %>
</p>

<p>
  <strong>Image:</strong>
  <%= @prom.image %>
</p>

<p>
  <strong>Description:</strong>
  <%= @prom.description %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @prom.stock %>
</p>

<p>
  <strong>Prod 1:</strong>
  <%= @prom.prod_1 %>
</p>

<p>
  <strong>Prod 2:</strong>
  <%= @prom.prod_2 %>
</p>

<p>
  <strong>Prod 3:</strong>
  <%= @prom.prod_3 %>
</p>

<p>
  <strong>Prod 4:</strong>
  <%= @prom.prod_4 %>
</p>

<p>
  <strong>Cant 1:</strong>
  <%= @prom.cant_1 %>
</p>

<p>
  <strong>Cant 2:</strong>
  <%= @prom.cant_2 %>
</p>

<p>
  <strong>Cant 3:</strong>
  <%= @prom.cant_3 %>
</p>

<p>
  <strong>Cant 4:</strong>
  <%= @prom.cant_4 %>
</p>

<p>
  <strong>Date start:</strong>
  <%= @prom.date_start %>
</p>

<p>
  <strong>Date end:</strong>
  <%= @prom.date_end %>
</p>

<p>
  <strong>Valido:</strong>
  <%= @prom.valido %>
</p>

<p>
  <strong>Url:</strong>
  <%= @prom.url %>
</p>

<p>
  <strong>String otro:</strong>
  <%= @prom.string_otro %>
</p>

<p>
  <strong>Int otro:</strong>
  <%= @prom.int_otro %>
</p>

<%= link_to 'Edit', edit_prom_path(@prom) %> |
<%= link_to 'Back', proms_path %>
